<% layout('_layout') -%>
<div class="row">
    <div class="col-md-offset-4 col-md-4">
        <div class="card">
            <h1 class="text-center">Login</h1>
            <% if(hasError) { %>
            <div class="has-error">
                <span class="help-block"><%= message %></span>
            </div>
            <% } %>
            <form action="/account/login" method="post" style="display: block; margin-top: 20px;">
                <div class="form-group">
                    <input type="text" class="form-control" value="<%= username %>" name="username" placeholder="username" />
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" name="password" placeholder="password" />
                </div>

                <div class="form-group">
                    <input type="submit" class="form-control btn btn-primary" value="Login" />
                </div>
            </form>
        </div>
    </div>
</div>