html {
    height: 100%;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: #fafafa;
}

.header {
    background: #ffffff; 
    border-bottom: 1px solid rgba(220,220,220, 0.6);
}

img.circular {
    border-radius: 50px;
    width: 50px;
    height: 50px; 
}

ul.account-signedin {
    list-style-type: none;
}

ul.account-signedin > li {
    float: left;
}

ul.account-signedin > li > a:hover {
    color: #333333;
}

ul.account-signedin > li > a {
    display: inline-block;
    color: #777777;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
}

ul.account {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
}

ul.account li {
    float: left;
}

ul.account li a {
    display: inline-block;
    color: #777777;
    text-align: center;
    padding: 14px 8px;
    text-decoration: none;
}

ul.account li a:hover {
    color: #333333;
}

ul.navmenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

ul.navmenu li {
    float: left;
}

ul.navmenu li a {
    display: inline-block;
    color: #777777;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul.navmenu li a:hover {
    color: #333333;
}

.card {
    background: #ffffff;
    border: 1px solid rgba(220,220,220, 0.6);
    margin: 0px;
    margin-top: 20px;
    padding: 16px;
}

.card .profilepic {
    float: left;
}

.card .whowhen {
    float: left;
    margin-top: 4px;
    margin-left: 16px;
}

.editor {
    background: rgba(255, 255, 255, .8);
    border: 1px dotted rgba(0,0,0,.1);
    padding: 5px;
}

.editor.big {
    min-height: 300px;
}

.content-editorr:before {
    display: none;
}

.content-editor.empty:before {
    color: rgba(0, 0, 0, .3);
    display: block;
    position: absolute;
    content: attr(data-placeholder);
}
