extends ./../_layout.pug

block content
	div(ng-controller='mainController as vm')
		div.row(ng-init='vm.username="'+username+'"')
			div.col-md-9(ng-init='vm.getDrafts()')
				draft(ng-repeat="draft in vm.drafts")

block scripts
	script(src='/libs/rxjs/dist/rx.js')
	script(src='/js/services/story.js')
	script(src='/js/services/dtos/draftDto.js')
	script(src='/libs/moment/moment.js')
	script(src='/js/controllers/draftController.js')