extends ./../_layout.pug

block content
	div(ng-controller='mainController as vm')
		div.row
			div.col-md-9(ng-init='')
				articles(ng-repeat="article in vm.articles")

block scripts
	script(src='/libs/rxjs/dist/rx.js')
	script(src='/js/services/story.js')
	script(src='/libs/moment/moment.js')
	script(src='/js/controllers/mainController.js')