<% layout('_layout') -%>

<div ng-controller="mainController as vm">
	 <div class="card">
		<div class="meta">
			<img src="/img/pic-placeholder.png" class="circular profilepic" style="float: left;">
			<div class="whowhen">
				<a href="/">John Doe</a>
				<br style="maring: 0px;" />
				<span>3 days ago</span>
			</div>
		</div>
		<br style="margin: 0px;"/>
		<h2 style="margin-top: 40px;">
			Some Title
		</h2>
		<p>
			Some raltively short summary of the article in question...
		</p>
	 </div>

	 <div class="card">
		<div class="meta">
			<img src="/img/pic-placeholder.png" class="circular profilepic" style="float: left;">
			<div class="whowhen">
				<a href="/">John Doe</a>
				<br style="maring: 0px;" />
				<span>3 days ago</span>
			</div>
		</div>
		<br style="margin: 0px;"/>
		<h2 style="margin-top: 40px;">
			Some Title
		</h2>
		<p>
			Some raltively short summary of the article in question...
		</p>
	 </div>

	 <div class="card">
		<div class="meta">
			<img src="/img/pic-placeholder.png" class="circular profilepic" style="float: left;">
			<div class="whowhen">
				<a href="/">John Doe</a>
				<br style="maring: 0px;" />
				<span>3 days ago</span>
			</div>
		</div>
		<br style="margin: 0px;"/>
		<h2 style="margin-top: 40px;">
			Some Title
		</h2>
		<p>
			Some raltively short summary of the article in question...
		</p>
	 </div>

	 <div class="card">
		<div class="meta">
			<img src="/img/pic-placeholder.png" class="circular profilepic" style="float: left;">
			<div class="whowhen">
				<a href="/">John Doe</a>
				<br style="maring: 0px;" />
				<span>3 days ago</span>
			</div>
		</div>
		<br style="margin: 0px;"/>
		<h2 style="margin-top: 40px;">
			Some Title
		</h2>
		<p>
			Some raltively short summary of the article in question...
		</p>
	 </div>
</div>

<% block('scripts').append('<script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>') %>
<% block('scripts').append('<script src="/js/controllers/mainController.js"></script>') %>
