<% layout('_layout') -%>

<div ng-controller="mainController as vm">
	<div class="row">
		<div class="col-md-9">
			<div class="card" ng-repeat="article in vm.articles">
				<div class="meta">
					<img src="/img/pic-placeholder.png" class="circular profilepic" style="float: left;">
					<div class="whowhen">
						<a href="/">{{article.who}}</a>
						<br style="maring: 0px;" />
						<span>{{article.when}}</span>
					</div>
				</div>
				<br style="margin: 0px;"/>
				<h2 style="margin-top: 40px;">
					{{article.title}}
				</h2>
				<div ng-bind-html="article.preview"></div>
			</div>
		</div>
		<div class="col-md-3">
			<div style="margin-top: 20px;">
				<span style="color: #7f7f7f; font-weight: 300;">Our Picks</span>
				<br />
				<span style="margin-bottom: 5px; display: block; font-weight: 300; font-style: italic">Topics worth talking about.</span>
				<hr style="clear: left; margin: 0px; border-top: 1px solid #e1e1e1;"/>
				<ul style="padding: 10px 20px;">
					<li>First</li>
					<li>Second</li>
					<li>Third</li>
				</ul>
			</div>

			<div style="margin-top: 20px;">
				<span style="color: #7f7f7f; font-weight: 300;">Recommended</span>
				<br />
				<span style="margin-bottom: 5px; display: block; font-weight: 300; font-style: italic">Topics you might like.</span>
				<hr style="clear: left; margin: 0px; border-top: 1px solid #e1e1e1;"/>
				<ul style="padding: 10px 20px;">
					<li>First</li>
					<li>Second</li>
					<li>Third</li>
				</ul>
			</div>

			<div style="margin-top: 20px;">
				<span style="color: #7f7f7f; font-weight: 300;">Popular Tags</span>
				<br />
				<span style="margin-bottom: 5px; display: block; font-weight: 300; font-style: italic">Tags users seem to like.</span>
				<hr style="clear: left; margin: 0px; border-top: 1px solid #e1e1e1;"/>
				<ul style="padding: 10px 20px;">
					<li>First</li>
					<li>Second</li>
					<li>Third</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<% block('scripts').append('<script src="https://cdn.tinymce.com/4/tinymce.min.js"></script>') %>
<% block('scripts').append('<script src="/js/controllers/mainController.js"></script>') %>
